# PostgreSQL defaults
POSTGRES_DB=provisioning
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

# Kafka
KAFKA_BOOTSTRAP_SERVERS=kafka:9093

# Camunda Webapp
CAMUNDA_ADMIN_USER=demo
CAMUNDA_ADMIN_PASSWORD=demo

# OpenTelemetry / Tracing
OTEL_EXPORTER_OTLP_ENDPOINT=http://jaeger:4318/v1/traces
